body {
  margin: 0;
}

a{
  text-decoration-line: none;
}

.img {
  justify-content: center;
}
#porfile-img {
width: 150px;
height: 150px;
border: 1px solid #2B3856;
transform: scale(1);
border-radius: 70%
}

.menu-bar {
  position: fixed;
  border: 0;
  background-color: #2B3856;
  display: block;
  width: 200px;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.index {
  text-align: center;
  display: flex;
  flex-direction: column;
}

.index h3 {
  color: white;
  opacity: 0.7;
  text-decoration: none;
  cursor: pointer;
}

.index h3:hover {
  font-size: 1.1em;
  opacity: 1;
  text-shadow: 0.7px 0.7px 0.7px #000;
}

section {
  margin-left: 260px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

p {
  margin: 0;
}


.name {
  font-size: 65px;
  font-weight: 900;
  font-family: 'Oswald', sans-serif;
}
.contacts {
  font-size: 15px;
  opacity: 0.5;
  font-family: 'Roboto Mono', monospace;
  font-style: italic;
}
.main-introduction {
  font-size: 17px;
  font-family: 'Noto Sans KR', sans-serif;
  opacity: 0.8;
}

.fa-brands {
  color: black;
  opacity: 0.4
}
.fa-solid {
  color: black;
  opacity: 0.4
}
.sns-pictogram i {
  margin-right: 40px;
}

footer i:hover {
  transform: translate(0, -3px);
}

.whatilove-text {
  font-size: 55px;
  font-weight: 700;
  font-family: 'Oswald', sans-serif;
}
.whatilove-img {
  margin-bottom: 20px;
}
.whatilove-img img {
  width:150px;
  height: 150px;
  transition: all 0.3s ease-in-out;
}

.interests .comment {
  font-size: 16px;
  font-style: italic;
}

.img-list {
  width: 675px;
  margin-left: auto;
  margin-right: auto;
}

.interest-img {
  width: 225px;
  text-align: center;
  display: block;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
}

.img-name {
  margin-top: 20px;
  margin-bottom: 4px;
}
